/*
body {
   background-color: blue;
}
*/
header {text-align: center}
main {text-align: center}
body {
   background-image: url("https://www.oregoncoast.org//imager/files_idss_com/C346/e76b236c-a805-4149-86fc-05e06144b9ef_8ee9fc24e6acde7e6be4bbd8dbd7ee0b.jpg");
   background-position:50%;
}
title {
   color: red
}
h1 {
   color: rgb(55, 0, 255);
   text-align: center;
   font-family: arial;
   font-size: 100px;
}
main{
   height: 50px;
   width: 50px;
   text-align: center;
}
div{
   background-color: gold;
   text-align: center;
}
#niceborder {
   background-image: url("https://media1.giphy.com/media/gYWeVOiMmbg3kzCTq5/200.gif");
   border-radius: 10px;
   padding: 50px;
   width: 2000px;
   height: 150px;
   color: white;
   text-align: center;
   font-size: 20px;
   
}
p{
	text-align: center;
	background-color: green;
	font-size: 18px;
	color: yellow;
}